@charset "UTF-8";
/*------------------------------------*\
  # TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ELEMENTS
 *
 * OBJECTS
 *
 * COMPONENTS
 * Nav primary..........The site’s main nav.
 *
 * PAGES
 * Map page
 * Summary page
 * Water Quality page
 */

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
/* html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
} */


/* ELEMENTS */
*{
  font-family: "Lato", "Verdana", "Lucida Sans";
}

body {
  background-color: #d0dee3;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.42857143rem;
  max-height: 900px;
  max-width: 1785px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.1875rem;
}

.h2,
h2 {
  font-size: 1.75rem;
}

.h3,
h3 {
  font-size: 1.53125rem;
}

.h4,
h4 {
  font-size: 1.3125rem;
}

.h5,
h5 {
  font-size: 1.09375rem;
}

.h6,
h6 {
  font-size: 0.875rem;
}

a {
  color: #4d4d4d;
}

a:hover,
a:focus {
  color: darken(#4d4d4d, 10%);
}

button {
  border: 1px solid #C8CED3;
  border-radius: 0;
}


.center {
  margin: auto;
}

.btn-sq-lg {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

.btn-hrec-lg {
  width: 100% !important;
  height: 50% !important;
  margin: 0;
}

.btn-sq-md {
  width: 50% !important;
  height: 50% !important;
  margin: 0;
}

.alert-box-test {
  margin: 0rem;
}
.page {
  background-color: #d0dee3;
  /* max-height: 814px;
  max-width: 1756px; */
  max-height: 900px;
  max-width: 1785px;
  height: 100%;
  width: 100%;
  align-self: stretch;
}

.page__header {
  height: 60px;
  padding: 20px 0;
  align-items: flex-start;
}

.page__body {
  padding-top: 16px;
}

/*****************\
    Navigation Bar
\*****************/
.nav__live-switch,
.nav__date-selector,
.SingleDatePicker,
.SingleDatePickerInput,
.DateInput_input {
  height: 34px;
}

#nav-live-switch  div  div  label {
  padding-left: 6px;
}

/*****************\
    Map Page
\*****************/
.mapPage__map {
  padding: 16px;
}

#mappage-map {
  height: 814px;
  width: 100%;
}

/*****************\
  Summary Page
\*****************/
.summary-page__sections{
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.section__schematic {
  width: 497px;
  height: 842px;
  background-color: white;
  padding: 6px;
}

.section__schematic--title {
  font-size: 14px;
  font-weight: 600;
}

.section__schematic--body {
  padding: 16px 10px 10px 10px;
}

.section__schematic--graph {
  width: 459px;
  height: 779px;
}

.section__non-schematic-group{
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.section__buttons{
  width: 1246px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.section__buttons-group--g1,
.section__buttons-group--g3 {
  width: 228px;
  height: 150px;
}

.section__buttons-group--g2 {
  width: 758px;
  height: 150px;
}

.section__buttons-group--g1,
.section__buttons-group--g2,
.section__buttons-group--g3 {
  background-color: white;
  border: 1px solid #C8CED3;
  padding: 6px;
}

.section__buttons-group--title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 6px;
}

.section__buttons-group--body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-f {
  width: 90px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6px 6px 3px;
}

.button-h {
  width: 90px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6px 6px 3px;
  margin-bottom: 12px;
}

.button-f__title,
.button-h__title {
  font-size: 8px;
  line-height: 10px;
}

.button-f__value,
.button-h__value {
  font-size: 25px;
  align-self: flex-end;
  align-content: flex-end;
}

.button-q {
  width: 42px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-q__title {
  font-size: 8px;
  line-height: 10px;
  align-self: center;
  color: #A5B2BF;
}

.button-q__value {
  font-size: 12px;
  margin: 0 3px 3px 0;
  align-self: flex-end;
}

.button-f,
.button-h,
.button-q {
  border: 1px solid #C8CED3;
}

.button-q__group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__charts-and-table {
  display: flex;
  flex-direction: row;
}

.section__charts{
  display: flex;
  flex-direction: column;
}

.section__charts--risks,
.section__charts--drops {
  height: 330px;
  width: 360px;
  padding: 6px;
  margin-right: 16px;
  background-color: white;
}
.section__charts--risks {
  margin-bottom: 16px;
}

.section__risk-chart--title,
.section__drops-chart--title,
.section__table-graph--title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.section__risk-chart--sub-title,
.section__drops-chart--sub-title,
.section__table-graph--sub-title {
  font-size: 8px;
  line-height: 10px;
  font-weight: 300px;
}

.section__risk-chart--body,
.section__drops-chart--body {
  padding: 10px;
}

.section__risk-chart--graph,
.section__drops-chart--graph {
  height: 270px;
  width: 328px;

}

.section__table {
  height: 676px;
  width: 870px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section__table-graph {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.section__table-graph--graph {
  height: 285px;
  width: 868px;
  align-self: center;
}

.section__table-graph--grid {
  height: 285px;
  width: 868px;
  align-self: center;
}

.section_nav-nav_button {
    background-color: white;
}